<!DOCTYPE html>
<html>
  <head>
    <title>Trip Chat</title>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div>
      <div id="header">
        {{>menu}}
        {{>signout}}
      </div>
      <div>
        <h3>Trip Chat</h3>
        <div>
          <input type="text" id="chatMessageTextBox"></input>
          <button id="sendMessageButton">Send</button>
          <input type="hidden" id="idTextBox" value="{{name}}"/>
          <ul id="userCount">
          </ul>
        </div>
        <ul id="chatMessageList">
        </ul>

      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>
