<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div>
      {{>menu}}
      <div>
        <h3>Time to start tripping (I mean traveling, of course)!</h3>
        <p>Follow register link above to register!</p>
      </div>
      {{message}}
    </div>

  </body>
</html>
