<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Trip Removed</title>
  </head>
  <body>
    <div>
      <h3>Trip Successfully Removed</h3>
      <form action="/trips" method="GET">
        <button>Back</button>
      </form>
    </div>
  </body>
</html>
